// Place all the styles related to the customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

img.card-img-top {
 max-width: 253px;
}

.card {
  p {
    padding-left: 10px;
  }

  h4 {
    padding: 10px 0 0 10px;
  }
}

#alerts {
  position: fixed;
  top: 0;
  left: 0;
  width: 95%;
  margin: 2em;
  z-index: 3000;
}
